
<footer>
	<h1>Footer</h1>
	<div id="footerCenter">
		<img id="footerCenterImage" src="assets/images/ts_banner-long.png" />
		<div id="footerCenterText">
			<p id="footerCenterTextLeft"> Copyright Turbo Squad 2018</p>
			<p id="footerCenterTextRight"> Copyright Levitate Studios 2018</p>
		</div>
	</div>
	<div id="footerLeftCont">
		<div id="footerLeftIcon">
			<img id="footerIcon" src="assets/images/icons/ls_124.png" />
		</div>
		<div id="footerLeftNavCont">
			<ul id="footerLeftNav">
				<li class="footerTextLeft"><a href="file:///C:/Users/dcaws/Desktop/website/Turbo_Squad_Website/index.html">Home</a></li>
				<li class="footerTextLeft"><a href="file:///C:/Users/dcaws/Desktop/website/Turbo_Squad_Website/about.html">About Us</a></li>
				<li class="footerTextLeft"><a href="file:///C:/Users/dcaws/Desktop/website/Turbo_Squad_Website/about.html">News</a></li>
				<li class="footerTextLeft">Characters</li>
				<li class="footerTextLeft">Coloring Pages</li>
			</ul>
		</div>
	</div>
	<div id="footerRightCont">
		<div id="footerRightNav">
			<ul>
				<a href="/contact"><li class="footerRightNavText">Contact</li></a>
				<a href="/jobs"><li class="footerRightNavText">Jobs</li></a>
				<a href="/privacy"><li class="footerRightNavText">Privacy Policy</li></a>
			</ul>
			<div id="footerSocialCont">
				<a href="http://www.facebook.com" target="_blank"><img src="assets/images/social/facebook.png"/></a>
				<a href="http://www.instagram.com" target="_blank"><img src="assets/images/social/instagram.png"/></a>
				<a href="http://www.twitter.com" target="_blank"><img src="assets/images/social/twitter.png"/></a>
				<a href="http://www.youtube.com" target="_blank"><img src="assets/images/social/youtube.png"/></a>
			</div>
		</div>
	</div>
</footer>