footer{
    position:relative;
    width:100%;
    height:250px;
    background-color:#545454;
}

#footerLeftCont{
    float:left;
    height:250px;
    width:33.33%;
}

#footerLeftIcon{
    float:left;
    width:250px;
    height:250px;
    text-align:center;
}

#footerIcon{
    margin-top:50px;
}

#footerLeftNavCont{
    float:left;
    width:120px;
    height:250px;
}

#footerLeftNav{
    margin-top:40px;
}

.footerTextLeft{
    color:white;
    margin-top:15px;
}

#footerCenter{
    position:absolute;
    margin:0 auto;
    left:50%;
    text-align:center;
    width:400px;
    margin-left:-200px;
    height:250px;
}

#footerCenterTextLeft{
    float:left;
    bottom:0;
    text-align:left;
    font-size:12px;
}

#footerCenterTextRight{
    bottom:0;
    float:right;
    text-align:left;
    font-size:12px;
}

#footerCenterImage{
    width:200px;
    height:auto;
}

#footerCenterText{
    width:400px;
    float:left;
    margin-top:40px;
    color:white;
}

#footerRightCont{
    float:right;
    width:33.33%;
    height:250px;
}

#footerRightNav{
    color:white;
    float:right;
    width:340px;
    padding-top:20px;
    height:230px;
}

.footerRightNavText{
    margin-top:15px;
}

#footerSocialCont{
    margin-top:60px;
}

.footerSocialIcon{
    width:45px;
    height:auto;
}

/* for under 1366 resolution */
@media only screen and (max-width: 1365px) and (min-width: 1025px) {
    #footerLeftIcon{
        width:200px;
    }

    #footerRightNav{
        width:260px;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #footerRightNav{
        width:230px;
    }

    #footerSocialCont{
        margin-left:30px; 
    }

    .footerRightNavText{
        margin-left:30px;
    }

    #footerCenterTextLeft {
        display:block;
        width:100%;
        text-align:center;
        float:unset;
        margin-left:50px;
    }

    #footerCenterTextRight {
        display:block;
        width:100%;
        text-align:center;
        float:unset;
        margin-left:50px;
    }

    #footerLeftIcon{
        width:150px;
    }

    #footerCenterTextCont{
        margin-top:-30px;
    }

    #footerIcon{
        position:absolute;
        width:70px;
        height:70px;
        margin-left:-150px;
        margin-top:40px;
    }

    #footerLeftNavCont{
        margin-left:80px;
    }
}

/* low res tablets + mobile devices */
@media only screen and (max-width: 767px) {
    
    #footerLeftRightCont{
        width:100%;
        text-align:center;
        margin: 0 auto;
    }
    
    #footerRightNav{
        width:200px;
        height:150px;
        margin-top: -70px;
    }

    #footerRightCont{
        margin:0 auto;
        display:inline-block;
        float:unset;
        width:200px;
        height:90px;
    }

    #footerLeftCont{
        margin:0 auto;
        display:inline-block;
        float:unset;
        width:200px;
        height:170px;
    }

    #footerCenterTextLeft {
        display:block;
        width:100%;
        text-align:center;
        float:unset;
        margin-left:50px;
    }

    #footerCenterTextRight {
        display:block;
        width:100%;
        text-align:center;
        float:unset;
        margin-left:50px;
    }

    #footerLeftIcon{
        width:150px;
    }

    #footerCenterTextCont{
        display:none;
    }

    #footerIcon{
        position:absolute;
        width:70px;
        height:70px;
        margin-left:-150px;
        margin-top:40px;
    }

    #footerLeftNavCont{
        margin-left:0px;
        width:200px;
    }

    #footerCenter{
        position:relative;
        margin:0 auto;
        width:100%;
        left:unset;
        text-align:center;
        height:150px;
    }

    footer{
        height:450px;
    }
}


/* low res tablets + mobile devices */
@media only screen and (max-width: 416px) {
    #footerRightNav{
        width:200px;
        height:150px;
        margin: 0 auto;
    }
    footer{
        height:550px;
    }
}