<div class="popupBackdrop" (click)="exitContact()">
</div>
<div id="contactCont">
    <h1>Contact</h1>

    <div id="contact">
        <form>
            <p class="contactInputText">NAME:*</p>
            <input class="contactInput" type="text">
            <p class="contactInputText">EMAIL:*</p>
            <input class="contactInput" type="text">
            <p class="contactInputText">DEVICE:</p>
            <input class="contactInput" type="text">
            <p class="contactInputText">ISSUE:*</p>
            <select class="contactSelect">
                <option value="progress">Lost Progress</option>
                <option value="payment">Unauthorized Payment</option>
                <option value="feedback">Feedback and Suggestions</option>
                <option value="syncing">Syncing</option>
                <option value="reset">Reset Score</option>
                <option value="bugs">Bugs</option>
                <option value="other">Other</option>
            </select>
            <p>MESSAGE:*</p>
            <textarea type="text"></textarea>
            <input type="checkbox">
            <p>I agree to the Privacy Policy.</p>
            <div>recapchca</div>
            <button type="submit">SUBMIT</button>
        </form>
    </div>

</div>