
	<section>
        <h1>About Turbo Squad</h1>
        <div id="headerBannerCont">
            <img id="headerBanner" src="assets/images/ts_banner.png" />
        </div>
        <div id="aboutHeaderBG"></div>
        <div id="aboutHeader">
            <div id="aboutTextCont">
                <img id="aboutUsTextImg1" src="assets/images/about/about_text.png" />
                <p class="aboutText">We are aliens on this planet, waiting for our chance to take over the world</p>
                <p class="aboutText">Also, we love to play and make awesome games</p>
                <img id="aboutUsImg1" src="assets/images/home/ship_anim.png" />
            </div>
        </div>
</section>
<section>
        <h1>People</h1>
        <div id="appStoreIconCont">
            <a href="#" target="_blank"><img class="appStoreIcons" src="assets/images/apple_store.png" /></a>
            <a href="https://play.google.com" target="_blank"><img class="appStoreIcons" src="assets/images/google_play.png" /></a>
        </div>
        <div id="peopleCont">
            <div id="people">
                <img id="aboutUsTextImg2" src="assets/images/about/people_text.png" />
                <a href="#"><div class="peopleSelectors" id="denis"></div></a>
                <a href="#"><div class="peopleSelectors" id="harrison"></div></a>
                <a href="#"><div class="peopleSelectors" id="lola"></div></a>
                <a href="#"><div class="peopleSelectors" id="linda"></div></a>
            </div>
        </div>
    </section>
<section>
        <h1>News</h1>
        <div id="newsCont">
            <div id="news">
                <p id="newsHeading">News</p>
                <ul id="newsList">
                    <li class="newsListText">We are going crazy</li>
                    <li class="newsListText">Our heads are going to pop!</li>
                    <li class="newsListText">We are not robots</li>
                </ul>
            </div>
        </div>
</section>