<section>
    <h1>Turbo Squad</h1>
    <div id="headerBannerCont">
        <img id="headerBanner" src="assets/images/ts_banner.png" />
    </div>
    <div id="headerBarBlue">
        <img src="assets/images/icons/ls_124.png" id="levitateIcon"  *ngIf="innerWidth >= 600"/>
    </div>
    <div id="headerBarWhite"></div>
    <div id="homeCharacters">
        <ul id="characterListSelected">	
            <li class="characterSelected" *ngIf="innerWidth >= 530">
                <div class="homeCharacter homeCharacter0"></div>
            </li>
            <li class="characterSelected" *ngIf="innerWidth > 690">
                <div class="homeCharacter homeCharacter1"></div>
            </li>
            <li class="characterSelected">
                <div class="homeCharacter homeCharacter2"></div>
            </li>
            <li class="characterSelected">
                <div class="homeCharacter homeCharacter3"></div>
            </li>
            <li class="characterSelected" *ngIf="innerWidth >= 1024">
                <div class="homeCharacter homeCharacter4"></div>
            </li>
            <li class="characterSelected" *ngIf="innerWidth >= 860">
                <div class="homeCharacter homeCharacter5"></div>
            </li>
        </ul>
        <ul id="characterListDeselected">	
            <li class="character" *ngIf="innerWidth >= 530">
                <div class="homeCharacter homeCharacter0" (click)="changeCharacter(4)"></div>
            </li>
            <li class="character" *ngIf="innerWidth > 690">
                <div class="homeCharacter homeCharacter1" (click)="changeCharacter(5)"></div>
            </li>
            <li class="character">
                <div class="homeCharacter homeCharacter2" (click)="changeCharacter(1)"></div>
            </li>
            <li class="character">
                <div class="homeCharacter homeCharacter3" (click)="changeCharacter(0)"></div>
            </li>
            <li class="character" *ngIf="innerWidth >= 1024">
                <div class="homeCharacter homeCharacter4" (click)="changeCharacter(3)"></div>
            </li>
            <li class="character" *ngIf="innerWidth >= 860">
                <div class="homeCharacter homeCharacter5" (click)="changeCharacter(2)"></div>
            </li>
        </ul>
    </div>
</section>
<section>
    <h1>Trailer</h1>
    <div id="trailerCont">
        <app-download></app-download>
        <div id="trailerImgCont">
            <img src="assets/images/home/ship_anim.png"id="trailerImg0" *ngIf="innerWidth >= 1024"/>
            <img src="assets/images/home/phone-left.png" id="trailerImg1" *ngIf="innerWidth >= 1024"/>
            <div id="trailer">
            </div>
            <img src="assets/images/home/phone-right.png" id="trailerImg2" *ngIf="innerWidth >= 1024"/>
        </div>
    </div>
</section>
<section>
    <div id="gameInfoCont">
        <h1>Game Info</h1>
        <div id="gameInfoTitleCont">
            <p id="gameInfoTitle">Travel our wacky unknown universe</p>
            <p id="gameInfoTitle">with our fast and exciting squad of super fun members!</p>
        </div>
        <img id="gameInfoImg" src="assets/images/home/infoImage.png" />
        <div id="gameInfoQuoteCont">
            <p id="gameInfoQuote">"Rediculiously fun runner to be </p>
            <p id="gameInfoQuote">"remembered for all time." -Denis Cawson</p>
        </div>
    </div>
</section>