<div id="jobsBG">
    <div id="jobsCont">
        <section>
            <h1>Levitate Studios</h1>
            <div id="studio">
                <div id="studioIconCont">
                    <img id="studioIcon" src="assets/images/icons/ls_256.png" />
                </div>
                <p class="studioHeaderText">Levitate Studios</p>
                <p class="studioText">Everyone's mindset is have fun creating from our imaginations with our players experience in the forefront of our minds.</p>
                <p class="studioText">Team collaborations and taking risks, collecting feedback for new ideas and improving on our processes are essential for our development process.</p>
                <p class="studioText">Our very best results come from people who work well in a team environment. We love collaboration and the creative energy this environment cultivates. Egos are left at the door.</p>
                <p class="studioText">Our small team is very ambitious and we all love to make and play games! Apply if you think you have the same qualities as our existing team.</p>
            </div>
        </section>
        <section>
            <h1>Available Jobs</h1>
            <div id="jobs">
                <div class="jobHeader" id="jobsHeader">
                    <p id="jobsHeaderText">CURRENT AVAILABLE POSITIONS</p>
                </div>
                <div id="jobCont">
                    <div class="jobHeader" id="jobContHeader">
                        <p id="jobHeaderText">JOBS</p>
                    </div>

                    <div id="jobLeft">
                        <p class="jobsLeftText">Management</p>
                        <p class="jobsLeftText">Art</p>
                        <p class="jobsLeftText">Programming</p>
                        <p class="jobsLeftText">QA</p>
                    </div>
                    <div id="jobRight">
                        <p class="jobsRightText">1</p>
                        <p class="jobsRightText">2</p>
                        <p class="jobsRightText">2</p>
                        <p class="jobsRightText">1</p>
                    </div>
                </div>
                <div id="jobsInfoCont">
                    <p class="jobsInfoText">Email us with your respective information in the related links and or CV. Let us know why we can't pass you up!</p>
                    <a href="#" id="jobsInfoLink"><p class="jobsInfoText">jobs@levitatestudios.com</p></a>
                </div>
            </div>
        </section>
    </div>
</div>